# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs
/.vs/wiNpoS/v17/*.suo
/bin
/wiNpoS-App/Win32/Debug/*.log
/wiNpoS-App/Win32/Release
/wiNpoS-App/Win32/Debug
/wiNpoS-App/x64/Debug
/wiNpoS-App/x64/Release
/wiNpoS-Hook/Win32/Debug
/wiNpoS-Hook/Win32/Release
/wiNpoS-Hook/x64/Debug
/wiNpoS-Hook/x64/Release
/wiNpoS-Hook/*.user
/wiNpoS-App/*.user
/wiNpoS-App/wiNpoS-App.aps
*.user
wiNpoS-Support/Debug/
wiNpoS-Support/Win32/
wiNpoS-Support/x64/
